### Write a Python function to find the maximum of three numbers.

#Functions Tasks

In [ ]:
#Write a Python function to find the maximum of three numbers.

def max_of_three(a, b, c):
    if a > b and a > c:
        return a
    elif b > a and b > c:
        return b
    else:
        return c

result = max_of_three(4,8,6)

print("The maximum of" , 4 , 5 ,"and" , 6 , "is" , result)

The maximum of 4 5 and 6 is 8

###Write a Python function to multiply all the numbers in a list.

###Sample List : (8, 2, 3, -1, 7)

In [ ]:
def multiply_list (x):
  result = 1
  for i in x:
    result *= i
  return result

list_1 = [2,3,5,6,7]
output = multiply_list(list_1)
print("The final result by multiplication of list is" , output)

The final result by multiplication of list is 1260

###Write a Python function that accepts a string and counts the number of upper and lower case letters.
###Sample String : 'The quick Brow Fox'

###Expected Output :

###No. of Upper case characters : 3 No. of Lower case Characters : 12

In [ ]:
def char_string(string):
  upper  = 0
  lower = 0
  for char in string:
    if char.isupper():
      upper += 1
    elif char.islower():
      lower += 1
  return upper , lower

string = "The Cute Brown Fox"
upper_count , lower_count = char_string(string)
print("No. of Upper case characters :" , upper_count , "No. of Lower case Characters : " , lower_count)

No. of Upper case characters : 4 No. of Lower case Characters :  11

### Write a Python function to create and print a list where the values are the squares of numbers between 1 and 30 (both included).

In [8]:
def square_num(list1):
  square_list = []
  for i in list1:
    x = 2
    x = i**x
    square_list.append(x)
  return square_list

list1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
result = square_num(list1)
print(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

### Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [15]:
def factorial_num(number):
  result = 1
  for i in range(1 , number+1):
      result *= i
  return result

factorial_num(8)

40320