# **Class 3 tasks**

### 1) Given a list of numbers. write a program to turn every item of a list into its square.
### Given:

### numbers = [1, 2, 3, 4, 5, 6, 7]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7]
squared_list = []
for x in numbers:
  result = x ** 2
  squared_list.append(result)
print(squared_list)

[1, 4, 9, 16, 25, 36, 49]

### Write a program to add item 7000 after 6000 in the following Python List
### Given:

### list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [ ]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].insert(1,700)
print(list1)

[10, 20, [300, 400, [5000, 700, 6000], 500], 30, 40]

### You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item.
### Given:

### list1 = [5, 10, 15, 20, 25, 50, 20]

In [17]:
list1 = [5, 10, 15, 20, 25, 50, 20]

try:
  index_of_20 = list1.index(20)
  list1[index_of_20] = 200
  print(list1)

except ValueError:
  print("there is no value 20 exists in the list")

[5, 10, 15, 200, 25, 50, 20]